.features-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: max-content;
  width: 80%;
  margin: 0 auto; /* Center the container horizontally */
  
  @media (max-width: 768px) {
    width: 100%; /* Adjust to full width on smaller screens */
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content vertically */
  gap: 20px;
  
  @media (min-width: 768px) {
    flex-direction: row; /* Switch to row layout on larger screens */
    justify-content: space-between;
  }
}

.features_heading {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  margin: 50px 0; /* Adjust top and bottom margin */
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #5c5470;
  
  @media (max-width: 768px) {
    font-size: 25px;
    margin: 30px 0; /* Adjust top and bottom margin */
  }
}

.feature-grid-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  
  @media (min-width: 768px) {
    flex-direction: row; /* Switch to row layout on larger screens */
    justify-content: center; /* Center the items horizontally */
  }
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 320px;
  height: auto;
  margin-bottom: 80px;
  
  @media (max-width: 425px) {
    margin-bottom: 0; /* Remove margin bottom on larger screens */
  padding:4vw;
  width:70vw
  }
}

.feature-heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin: 5px;
  text-align: center; /* Center the heading */
  text-transform: uppercase;
  color: #5c5470;
}

.feature-text-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the text horizontally */
  text-align: center; /* Center the text horizontally */
}

.ipad_img {
  width: 428px;
  height: 543px;
  margin: 10px;

  @media (max-width: 768px) {
    display: none;
  }
}
